{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
    <h1>Bienvenido, {{ user.username }}</h1>
    
    <h3 class="text-primary font-italic">Flanes Privados</h3>
    <div class="row">
        {% for flan in flanes %}
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="{{ flan.image_url }}" class="card-img-top" alt="{{ flan.name }}" style="height: 200px; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">{{ flan.name }}</h5>
                    <p class="card-text">{{ flan.description }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}